.mana-bar{
    height: 20px;
    width: 10%;
    border: 2px solid black;
    background-color: transparent;
    border-right: unset;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translate(-105%,0)    ;
        -webkit-transform: translate(-105%,0)    ;
        -moz-transform: translate(-105%,0)    ;
        -ms-transform: translate(-105%,0)    ;
        -o-transform: translate(-105%,0)    ;
        top: 0;
        left:  0;
        background-color: #d500f9;
        transition: all 1s  linear  ;
        -webkit-transition: all 1s  linear  ;
        -moz-transition: all 1s  linear  ;
        -ms-transition: all 1s  linear  ;
        -o-transition: all 1s  linear  ;
}
    &.active{
        &::before{
            transform: translate(0,0)    ;
            -webkit-transform: translate(0,0)    ;
            -moz-transform: translate(0,0)    ;
            -ms-transform: translate(0,0)    ;
            -o-transform: translate(0,0)    ;
}
    }
}